
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&family=PT+Sans+Narrow&display=swap');

body {
    font-family: 'Noto Serif Display', serif;
    background-color: #6CB5CD
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 ;
}
h1{
    background-color: green
}
a:active,p {
    color: #654321;
}
table, th, td{
    border: 1px solid;
}
input[type=submit]{
    background-color:#30B69C;
    padding: 4px;
    border-radius: 16px;
}
input[type=text] {
    border: 2px solid #274942;
    background-color:#30B69C;
    padding: 5px;
}
.left-float{
    float: left;
}
.right-float{
    float: right;
}
p{
    font-size: 20px;
}
