
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,300&family=PT+Sans+Narrow&display=swap');

body {
    font-family: 'Noto Serif Display', serif;
    background-color: #6CB5CD
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 ;
}
h1{
    background-color: green
}
